@font-face {
    font-family: "norse-bold";
    src: url("assets/Norse-Bold.otf");
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

:root {
    --base-color: white;
    --base-text-color: black;
    --text-grey: grey;
    --text-ligh-grey: lightgray;
    --soft-grey: #F9FAFB;
    --ligth-border-grey: #E5E8EB;
    --accent-green: #596D48;
    --soft-shadow: 0 4px 8px -8px black
}

@media (prefers-color-scheme: ligth) {
    :root {
        --base-color: black;
        --base-text-color: white;
        --text-grey: grey;
        --text-ligh-grey: lightgray;
        --soft-grey: #141414;
        --ligth-border-grey: #E5E8EB;
        --accent-green: #596D48;
        --soft-shadow: 0 4px 8px -8px white
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--base-text-color);
}

body {
    display: flex;
    justify-content: center;
}

main {
    background-color: var(--soft-grey);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
}

a {
    color: inherit;
}

.img-wrapper {
    position: relative;
    width: 40%;
}

.img-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-content: center;
}

.logo-band-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 100%;
}

.logo-band {
    width: 100%;
    display: flex;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, .6);
    color: white;
    padding: 1rem;
    height: max(7rem, 4vw);
    font-size: 6rem
}

.logo-band > img {
    height: 100%;
}

.logo-band > span {
    color: inherit;
    font-family: 'norse-bold';
}

.img-credits {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.img-credits span {
    color: var(--text-ligh-grey);
    padding: .5rem;
}

.content-wrapper {
    width: 60%;
    height: 100%;
}

.content-wrapper > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-banner {
    width: 70%;
    padding: 2rem;
}

.info-banner h2:first-child {
    margin-bottom: 1rem;
}

fieldset {
    background-color: var(--base-color);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    box-shadow: var(--soft-shadow);
}

fieldset label {
    color: var(--text-grey)
}

fieldset > p {
    font-size: 0.8rem;
    color: var(--text-grey);
}

.inline-inputs {
    display: flex;
    gap: 1.5rem;
}

.inline-inputs div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;

    color: var(--text-grey);
    max-width: 27rem;
    height: 2.5rem;
}

.inline-inputs label {
    padding-bottom: 0.1rem;
    position: absolute;
    transition: transform 600ms ease;
}

.inline-inputs label:hover {
    cursor: text;
}

.inline-inputs input:required + label::after {
    content: '*';
    color: red;
    margin-left: .1rem;
}

.inline-inputs input:focus + label,
.inline-inputs input:not(:placeholder-shown) + label {
    transform: 
        scale(0.8)
        translateY(-1.2rem) 
        translateX(-12%);
    cursor: default;
}

.inline-inputs input {
    border: none;
    border-bottom: 2px solid var(--text-grey);
    width: 100%;
    color: var(--base-text-color);
    background-color: var(--base-color);
}

.inline-inputs input:focus {
    border-bottom: 3px solid var(--accent-green);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--base-text-color);
}

button:hover {
    cursor: pointer;
}

.submit-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 2rem;
}

.submit-wrapper > button {
    max-width: 15rem;
    border: none;
    padding: .6rem 2.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 4px;
    color: var(--base-text-color);
    border: 2px solid var(--accent-green);
    background-color: var(--base-color);
    transform: scale(1);

    transition: transform 0.3s, background-color 0.3s;
    -webkit-transition: transform 0.3s, background-color 0.3s;
}

.submit-wrapper > button:hover {
    color: var(--base-color);
    background-color: var(--accent-green);
    transform: scale(1.03);

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.submit-wrapper > p a {
    color: var(--accent-green);
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .img-wrapper {
        height: 30vh;
        width: 100%;
    }
    .content-wrapper {
        width: 100%;
        height: auto;
    }
    .img-credits {
        align-items: end;
        font-size: 0.7rem
    }
}

@media only screen and (max-width: 1000px) {   
    .info-banner {
        width: auto;
    }
    .inline-inputs {
        flex-direction: column;
    }
}