@font-face {
    font-family: "norse-bold";
    src: url("assets/Norse-Bold.otf");
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

:root {
    --base-color: white;
    --base-text-color: black;
    --text-grey: grey;
    --text-ligh-grey: lightgray;
    --soft-grey: #F9FAFB;
    --ligth-border-grey: #E5E8EB;
    --accent-green: #596D48;
    --soft-shadow: 0 4px 8px -8px black
}

:root.dark {
    --base-color: #141414;
    --base-text-color: white;
    --text-grey: lightgray;
    --text-ligh-grey: lightgray;
    --soft-grey: #1b1b1b;
    --ligth-border-grey: #E5E8EB;
    --accent-green: #596D48;
    --soft-shadow: 0 4px 8px -8px white
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: system-ui, Helvetica, sans-serif;
    color: var(--base-text-color);
    background-color: var(--base-color);
    transition: 600ms;
    -webkit-transition: 600ms;
}

body {
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    background-color: var(--soft-grey);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
}

a {
    color: inherit;
}

.img-wrapper {
    position: relative;
    width: 40%;
}

.img-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-content: center;
}

.logo-band-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 100%;
}

.logo-band {
    width: 100%;
    display: flex;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, .6);
    color: white;
    padding: 1rem;
    height: max(7rem, 4vw);
    font-size: 6rem
}

.logo-band > img {
    height: 100%;
}

.logo-band > span {
    color: inherit;
    font-family: 'norse-bold';
}

.img-credits {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.img-credits span {
    color: var(--text-ligh-grey);
    padding: .5rem;
}

.content-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-banner {
    width: 70%;
    margin: 2rem;
}

.info-banner h2:first-child {
    margin-bottom: 1rem;
}

fieldset {
    background-color: var(--base-color);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    box-shadow: var(--soft-shadow);
}

fieldset label {
    color: var(--text-grey)
}

.required-message {
    font-size: 0.8rem;
    color: var(--text-grey);
}

.inline-inputs {
    display: flex;
    gap: 1.5rem;
}

.inline-inputs div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;

    color: var(--text-grey);
    max-width: 27rem;
    height: 2.5rem;
}

.inline-inputs label {
    padding-bottom: 0.1rem;
    position: absolute;
    transition: transform 300ms ease;
}

.inline-inputs label:hover {
    cursor: text;
}

.inline-inputs input:required + label::after {
    content: '*';
    color: red;
    margin-left: .1rem;
}

.inline-inputs input:focus + label,
.inline-inputs input:not(:placeholder-shown) + label {
    transform: 
        scale(0.8)
        translateY(-1.7rem) 
        translateX(-12%);
    cursor: default;
}

.inline-inputs input {
    border: none;
    border-bottom: 2px solid var(--text-grey);
    width: 100%;
    font-size: 1.2rem;
    color: var(--base-text-color);
    background-color: var(--base-color);
}

.inline-inputs input:focus {
    border-bottom: 3px solid var(--accent-green);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--base-text-color);
}

button:hover {
    cursor: pointer;
}

.submit-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 2rem;
}

.submit-button {
    max-width: 15rem;
    border: none;
    padding: .6rem 2.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 4px;
    color: var(--base-text-color);
    border: 2px solid var(--accent-green);
    background-color: var(--base-color);
    transform: scale(1);

    transition: 300ms;
    -webkit-transition: 300ms;
}

.submit-button:hover {
    color: var(--base-color);
    background-color: var(--accent-green);
    transform: scale(1.03);
}

.submit-wrapper > p a {
    color: var(--accent-green);
    font-weight: bold;
    text-decoration: none;
}

.error {
    color: red;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: -0.5rem;
}

/* Theme switcher */
/* The switch - the box around the slider */
.theme-switch-wrapper {
    position: absolute;
    z-index: 2;
    right: 0;
}

.theme-toggle {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 0 0 0 8px;
    border-bottom: 1px solid var(--base-text-color);
    border-left: 1px solid var(--base-text-color);
    background-color: var(--base-color);

    transition: 300ms;
    -webkit-transition: 300ms;
}

/* Hide default HTML checkbox */
.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-toggle img {
    position: absolute;
    padding: 4px;
    width: 100%;
}

.theme-toggle:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 4px 0 var(--base-text-color);
}

@media only screen and (max-width: 768px) {
    .img-wrapper {
        height: 30vh;
        width: 100%;
    }
    .content-wrapper {
        width: 100%;
        height: auto;
    }
    .img-credits {
        align-items: end;
        font-size: 0.7rem
    }
}

@media only screen and (max-width: 1000px) {   
    .info-banner {
        width: auto;
    }
    .inline-inputs {
        flex-direction: column;
    }
}